/*
 * ImageHover.css - Demo Page
 * Author: Ciarán Walsh

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 */
@import url(http://fonts.googleapis.com/css?family=Roboto);



.sep {
    color: #ddd;
    margin: 0 4px;
    
}

.demo {
    display: inline-block;
    width: 24%;
    padding: 10px;
    box-sizing: border-box;
    
}

    .demo textarea {
        box-sizing: border-box;
        font-family: "Roboto";
        font-size: 0.9em;
        height: 32px;
        padding: 6px 0px;
        resize: none;
        text-align: center;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

.main {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;

    
}


small {
    display: block;
}


.sup {
    vertical-align: super;
    margin-left: -1em;
    padding: .3em .5em;
    line-height: 100%;
    font-size: .22em;
    border: #eee solid 1px;
    border-radius: 4px;
    color: inherit;
    background-color: #fff;
    
}

    .sup:hover {
        background: #eee;
        
    }

.intro,
.download {
    padding: 0;
    box-sizing: border-box;

}

.intro {
    max-width: 66%;
    margin: 0;
    display: inline-block;
    padding-right: 20px;
}


.effects {
    margin: 3em 0;
}



@media only screen and (max-width: 959px) {
    .demo {
        width: 32.5%;
    }
}

@media only screen and (max-width: 659px) {
    .demo {
        width: 49%;
    }

    .intro,
    .download {
        max-width: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 360px) {
    .demo {
        width: 100%;
    }
}

@media only screen and (min-width: 360px) {
    h1 {
        font-size: 3em;
    }
}
