
.select2.narrow {
    width: 400px;
}

.wrap.select2-selection--single {
    height: 100%;
}

.select2-container .wrap.select2-selection--single .select2-selection__rendered {
    word-wrap: break-word;
    text-overflow: inherit;
    white-space: normal;
}